.not-found {
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 160px;
    font-weight: 700;
}

.not-found-detail {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;    
}